{% extends "scoring/base.j2" %}

{% block instruction %}
Your task is to score **Innovativeness** of the idea.

## Scores

1: A well-known application; lacks novelty
2: Known use case of similar technology, but not yet fully explored
3: A use case I hadn't thought of, but not particularly exciting
4: Surprising and interesting: the idea is not widely known, but it is a plausible application of the technology
5: Super surprising and novel; has a strong element of originality and is likely to be impactful
{% endblock %}