{% extends "scoring/base.j2" %}

{% block instruction %}
Your task is to score **Technical validity* of the idea.

## Scores

1: The patented technology does not seem applicable or suitable for the proposed use
2: Although it includes challenging technical development elements, it is possible to create a prototype using the patented technology
3: A prototype could be built using the patented technology
4: The patented technology can be directly applied to a production-level product
{% endblock %}