{% extends "pairwise/base.j2" %}
{% block instruction %}
Your task is to choose the better idea from the perspective of **Competitive advantage**.
What business advantage does the product gain by using this patented technology?
{% endblock %}