{% extends "pairwise/base.j2" %}
{% block instruction %}
Your task is to choose the better idea from the perspective of **Innovativeness**.
Does the patented technology offer a novel solution to the demand?
{% endblock %}


