{% extends "pairwise/base.j2" %}
{% block instruction %}
Your task is to choose the better idea from the perspective of **Market size**.
Is the market large enough? Are there many potential users?
{% endblock %}