{% extends "pairwise/base.j2" %}
{% block instruction %}
Your task is to choose the better idea from the perspective of **Need validity**.
Do the described users really need this solution?
{% endblock %}