{% extends "pairwise/base.j2" %}
{% block instruction %}
Your task is to choose the better idea from the perspective of **Specificity**.
Is the idea specific? For example, “help researchers manage references” is more specific than “help researchers do research.
{% endblock %}