{% extends "pairwise/base.j2" %}
{% block instruction %}
Your task is to choose the better idea from the perspective of **Technical validity**.
Is the patent suitable for the product? Is the implementation feasible? Can it be done within three years?
{% endblock %}